<div class="col-md-3 mt-3">
  <div class="card">
    <img class="card-img-top" style="border: 1px solid #161616;" src="{{sprite}}" alt="{{name}}"/>
    
    <div class="card-body text-center">
      <h4 class="card-title"> <b>{{name}}</b></h4>
      
    	<div class="container-fluid"> 
    		<div class="align-items-center">
          <p>Tipo: <i>{{type}}</i></p>
    			<br>

          <div class="col text-center">
            <form name="cambiarusername" id="cambiarusername" action="/anadirpokemon" method="POST">
    				  <button class="btn btn-success regular-button" name="name" value="{{name}}" type="submit">Añadir</button>
    			  </form>
          </div>	
    		</div> 
    	</div>    
    </div>
  </div>
</div>