
<div class="col-md-3 mt-4">
  <div class="card w-80" >
    <img class="card-img-top" style="border: 2px solid #161616;" src="{{sprite}}" alt="{{name}}"/>
    
    <div class="card-body justify-content-center">
      
      <h4 class="card-title text-center"><b>{{name}}</b></h4>
      <p class="card-text text-center">Tipo: <i>{{type}}</i></p>
      
    	
    	<div class="d-flex justify-content-center ">
        <br>
    		<div class="col-sm-5">
          <form action="/verpokemon" method="POST">
    			  <button class="btn btn-primary regular-button" name="name" value="{{name}}" type="submit">Ver</button>
    			</form>
        </div>
          
        <div class="col-sm-5">
          <form action="/borrarpokemon" method="POST">
            <button class="btn btn-danger regular-button" name="name" value="{{name}}" type="submit">Eliminar</button>
          </form>
        </div>
        
    	</div> 
    	    
    </div>
  </div>
</div>